In [65]:
import pandas as pd

df1=pd.read_csv('final_final_v2_preprocessed_input_new_model_usecase5.1_v2.csv')
df2=pd.read_csv('final_final_v2_preprocessed_input_new_model_usecase5.2_v2.csv')
df3=pd.read_csv('final_final_v2_preprocessed_input_new_model_usecase5.3_v2.csv')



df_op1=pd.read_csv('final_final_v2_response_new_usecase5.1_v2.csv')
df_op2=pd.read_csv('final_final_v2_response_new_usecase5.2_v2.csv')
df_op3=pd.read_csv('final_final_v2_response_new_usecase5.3_v2.csv')

In [66]:
df=pd.concat([df,df1,df2,df3],axis=0)
df_op=pd.concat([df_op1,df_op2,df_op3],axis=0)

In [61]:
df_op

,CONFIDENCE,ESTIMATED_DROPOFF_TIME,ESTIMATED_DROPOFF_TIME_END,ESTIMATED_DROPOFF_TIME_START,ESTIMATED_PICKUP_TIME,ESTIMATED_PICKUP_TIME_END,ESTIMATED_PICKUP_TIME_START,PROVIDER,order_id
0,0.9,1.664917e+12,1.664924e+12,1.664909e+12,1.664902e+12,1.664903e+12,1.664901e+12,Uber,633c5f4efb0e42a576c7780a
1,0.9,1.664738e+12,1.664742e+12,1.664736e+12,1.664738e+12,1.664739e+12,1.664736e+12,DoorDash,6339c7d74809034a9fc2af3f
2,0.9,1.664915e+12,1.664916e+12,1.664913e+12,1.664914e+12,1.664917e+12,1.664912e+12,Shipt,633b2b3e01ae462481c7b9cf
3,0.9,1.665089e+12,1.665092e+12,1.665086e+12,1.665094e+12,1.665095e+12,1.665093e+12,DoorDash,633f411f88476228407293bf
4,0.9,1.665073e+12,1.665075e+12,1.665072e+12,1.665072e+12,1.665073e+12,1.665070e+12,Instacart,633e174d057aeb6f3fc845b9
...,...,...,...,...,...,...,...,...,...
9992,0.9,1.665708e+12,1.665715e+12,1.665700e+12,1.665709e+12,1.665710e+12,1.665707e+12,Uber,6348af414a904010ec098b93
9993,0.9,1.665804e+12,1.665807e+12,1.665803e+12,1.665804e+12,1.665806e+12,1.665801e+12,Onfleet,634a090a3a2f4117601e9d7b
9994,0.9,1.665786e+12,1.665790e+12,1.665784e+12,1.665785e+12,1.665786e+12,1.665784e+12,DoorDash,63499469e57c93590362ac3c
9995,0.9,1.665430e+12,1.665431e+12,1.665429e+12,1.665430e+12,1.665431e+12,1.665428e+12,Point Pickup,634443b92b56cb4315cf91f3
9996,0.9,1.665700e+12,1.665707e+12,1.665692e+12,1.665699e+12,1.665700e+12,1.665697e+12,Uber,634881d5e57c935903620330

df.shape

df_op.shape

import pandas as pd
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")
input_df=pd.read_csv("preprocessed_input_new_model_asap_v2.csv")
output_df=pd.read_csv("final_response_new_usecase_asap2.csv")

In [62]:
input_df=df
df_op=output_df

In [63]:
df.shape

(974958, 34)

In [64]:
df_op.shape

(14957, 9)

In [5]:
df=df[['_ID','actual_pickup_completed','actual_order_delivered','ORDER_DISPATCHED','PROVIDER']]

In [6]:
df.rename(columns = {'_ID':'order_id'}, inplace = True)

In [7]:
df.drop_duplicates(subset=['order_id'],inplace=True)
df_op.drop_duplicates(subset=['order_id'],inplace=True)

In [8]:
merge_df=df.merge(df_op,on='order_id')

In [9]:
merge_df

,order_id,actual_pickup_completed,actual_order_delivered,ORDER_DISPATCHED,PROVIDER_x,CONFIDENCE,ESTIMATED_DROPOFF_TIME,ESTIMATED_DROPOFF_TIME_END,ESTIMATED_DROPOFF_TIME_START,ESTIMATED_PICKUP_TIME,ESTIMATED_PICKUP_TIME_END,ESTIMATED_PICKUP_TIME_START,PROVIDER_y
0,636acde69057a18771786d81,1.667946e+12,1.667948e+12,1.667944e+12,['Roadie'],0.9,1.667949e+12,1.667951e+12,1.667948e+12,1.667947e+12,1.667950e+12,1.667944e+12,Roadie
1,638113adc36a2bf1fafc9a10,1.669404e+12,1.669406e+12,1.669404e+12,['DoorDash'],0.9,1.669408e+12,1.669409e+12,1.669407e+12,1.669407e+12,1.669409e+12,1.669406e+12,DoorDash
2,636948fe0f7f7960d344cd91,1.667845e+12,1.667846e+12,1.667844e+12,['DoorDash'],0.9,1.667849e+12,1.667850e+12,1.667848e+12,1.667848e+12,1.667849e+12,1.667846e+12,DoorDash
3,63767654c401e515e3f7d745,1.668711e+12,1.668713e+12,1.668708e+12,['DoorDash'],0.9,1.668712e+12,1.668713e+12,1.668711e+12,1.668710e+12,1.668712e+12,1.668709e+12,DoorDash
4,637675edbf952a5863009959,1.668709e+12,1.668711e+12,1.668708e+12,['DoorDash'],0.9,1.668712e+12,1.668713e+12,1.668712e+12,1.668711e+12,1.668712e+12,1.668709e+12,DoorDash
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14952,636fee9b6f99f539ea07841c,1.668281e+12,1.668283e+12,1.668280e+12,['DoorDash'],0.9,1.668282e+12,1.668284e+12,1.668282e+12,1.668281e+12,1.668283e+12,1.668280e+12,DoorDash
14953,63793a522a2c9e3b11413751,1.668893e+12,1.668894e+12,1.668889e+12,['Point Pickup'],0.9,1.668894e+12,1.668896e+12,1.668893e+12,1.668892e+12,1.668896e+12,1.668890e+12,Point Pickup
14954,63767afde1cf14e4dfc18fa7,1.668710e+12,1.668711e+12,1.668709e+12,['Uber'],0.9,1.668713e+12,1.668714e+12,1.668712e+12,1.668711e+12,1.668714e+12,1.668710e+12,Uber
14955,638121e04cc88858d5811518,1.669409e+12,1.669410e+12,1.669407e+12,['DoorDash'],0.9,1.669411e+12,1.669412e+12,1.669411e+12,1.669410e+12,1.669412e+12,1.669409e+12,DoorDash
14956,63811fde2a2c9e3b114b8569,1.669409e+12,1.669411e+12,1.669407e+12,['Uber'],0.9,1.669411e+12,1.669413e+12,1.669411e+12,1.669410e+12,1.669412e+12,1.669408e+12,Uber

In [10]:
"""filtering the outliers """

merge_df['asap_filter_eta']=merge_df['actual_pickup_completed']-merge_df['ORDER_DISPATCHED']
merge_df['asap_filter_etd']=merge_df['actual_order_delivered']-merge_df['actual_pickup_completed']
merge_df['asap_filter_eta']=merge_df['asap_filter_eta']//60000
merge_df['asap_filter_etd']=merge_df['asap_filter_etd']//60000

In [11]:
"""asap pickup interval 1-200"""
"""asap delivery interval 1-120"""

'asap delivery interval 1-120'

In [13]:
merge_df=merge_df[(merge_df['asap_filter_eta'] <= 200)& (merge_df['asap_filter_etd'] <= 120) ]

In [14]:
merge_df.shape

(14508, 15)

In [15]:
merge_df.rename(columns = {'PROVIDER_y':'PROVIDER'}, inplace = True)

In [16]:
input_df=merge_df

In [17]:
input_df.columns

Index(['order_id', 'actual_pickup_completed', 'actual_order_delivered',
       'ORDER_DISPATCHED', 'PROVIDER_x', 'CONFIDENCE',
       'ESTIMATED_DROPOFF_TIME', 'ESTIMATED_DROPOFF_TIME_END',
       'ESTIMATED_DROPOFF_TIME_START', 'ESTIMATED_PICKUP_TIME',
       'ESTIMATED_PICKUP_TIME_END', 'ESTIMATED_PICKUP_TIME_START', 'PROVIDER',
       'asap_filter_eta', 'asap_filter_etd'],
      dtype='object')

In [18]:
input_df.PROVIDER.value_counts()

DoorDash             7982
Uber                 4216
Roadie               1716
Point Pickup          294
Instacart Connect     209
Shipt                  59
Onfleet                10
PickupNow               8
Postmates               6
Shipt 2                 6
MileZero                1
Skipcart                1
Name: PROVIDER, dtype: int64

In [24]:
input_df

,order_id,actual_pickup_completed,actual_order_delivered,ORDER_DISPATCHED,PROVIDER_x,CONFIDENCE,ESTIMATED_DROPOFF_TIME,ESTIMATED_DROPOFF_TIME_END,ESTIMATED_DROPOFF_TIME_START,ESTIMATED_PICKUP_TIME,ESTIMATED_PICKUP_TIME_END,ESTIMATED_PICKUP_TIME_START,PROVIDER,asap_filter_eta,asap_filter_etd
0,636acde69057a18771786d81,1.667946e+12,1.667948e+12,1.667944e+12,['Roadie'],0.9,1.667949e+12,1.667951e+12,1.667948e+12,1.667947e+12,1.667950e+12,1.667944e+12,Roadie,35.0,39.0
1,638113adc36a2bf1fafc9a10,1.669404e+12,1.669406e+12,1.669404e+12,['DoorDash'],0.9,1.669408e+12,1.669409e+12,1.669407e+12,1.669407e+12,1.669409e+12,1.669406e+12,DoorDash,13.0,18.0
2,636948fe0f7f7960d344cd91,1.667845e+12,1.667846e+12,1.667844e+12,['DoorDash'],0.9,1.667849e+12,1.667850e+12,1.667848e+12,1.667848e+12,1.667849e+12,1.667846e+12,DoorDash,9.0,18.0
3,63767654c401e515e3f7d745,1.668711e+12,1.668713e+12,1.668708e+12,['DoorDash'],0.9,1.668712e+12,1.668713e+12,1.668711e+12,1.668710e+12,1.668712e+12,1.668709e+12,DoorDash,52.0,39.0
4,637675edbf952a5863009959,1.668709e+12,1.668711e+12,1.668708e+12,['DoorDash'],0.9,1.668712e+12,1.668713e+12,1.668712e+12,1.668711e+12,1.668712e+12,1.668709e+12,DoorDash,24.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14952,636fee9b6f99f539ea07841c,1.668281e+12,1.668283e+12,1.668280e+12,['DoorDash'],0.9,1.668282e+12,1.668284e+12,1.668282e+12,1.668281e+12,1.668283e+12,1.668280e+12,DoorDash,24.0,27.0
14953,63793a522a2c9e3b11413751,1.668893e+12,1.668894e+12,1.668889e+12,['Point Pickup'],0.9,1.668894e+12,1.668896e+12,1.668893e+12,1.668892e+12,1.668896e+12,1.668890e+12,Point Pickup,57.0,26.0
14954,63767afde1cf14e4dfc18fa7,1.668710e+12,1.668711e+12,1.668709e+12,['Uber'],0.9,1.668713e+12,1.668714e+12,1.668712e+12,1.668711e+12,1.668714e+12,1.668710e+12,Uber,8.0,21.0
14955,638121e04cc88858d5811518,1.669409e+12,1.669410e+12,1.669407e+12,['DoorDash'],0.9,1.669411e+12,1.669412e+12,1.669411e+12,1.669410e+12,1.669412e+12,1.669409e+12,DoorDash,30.0,20.0
14956,63811fde2a2c9e3b114b8569,1.669409e+12,1.669411e+12,1.669407e+12,['Uber'],0.9,1.669411e+12,1.669413e+12,1.669411e+12,1.669410e+12,1.669412e+12,1.669408e+12,Uber,37.0,37.0

In [25]:
x=input_df[['order_id',"actual_pickup_completed","actual_order_delivered",
            "ESTIMATED_DROPOFF_TIME","ESTIMATED_DROPOFF_TIME_END","ESTIMATED_DROPOFF_TIME_START",
            "ESTIMATED_PICKUP_TIME","ESTIMATED_PICKUP_TIME_END","ESTIMATED_PICKUP_TIME_START","PROVIDER"]]

In [27]:
x['difference_eta']=x['actual_pickup_completed']-x['ESTIMATED_PICKUP_TIME']
x['difference_etd']=x['actual_order_delivered']-x['ESTIMATED_DROPOFF_TIME']

In [31]:
x['difference_eta_mins']=x['difference_eta']//60000
x['difference_etd_mins']=x['difference_etd']//60000

In [32]:
x

,order_id,actual_pickup_completed,actual_order_delivered,ESTIMATED_DROPOFF_TIME,ESTIMATED_DROPOFF_TIME_END,ESTIMATED_DROPOFF_TIME_START,ESTIMATED_PICKUP_TIME,ESTIMATED_PICKUP_TIME_END,ESTIMATED_PICKUP_TIME_START,PROVIDER,difference_eta,difference_etd,difference_eta_mins,difference_etd_mins
0,636acde69057a18771786d81,1.667946e+12,1.667948e+12,1.667949e+12,1.667951e+12,1.667948e+12,1.667947e+12,1.667950e+12,1.667944e+12,Roadie,-10.0,-7.0,-1.0,-1.0
1,638113adc36a2bf1fafc9a10,1.669404e+12,1.669406e+12,1.669408e+12,1.669409e+12,1.669407e+12,1.669407e+12,1.669409e+12,1.669406e+12,DoorDash,-42.0,-43.0,-1.0,-1.0
2,636948fe0f7f7960d344cd91,1.667845e+12,1.667846e+12,1.667849e+12,1.667850e+12,1.667848e+12,1.667848e+12,1.667849e+12,1.667846e+12,DoorDash,-44.0,-46.0,-1.0,-1.0
3,63767654c401e515e3f7d745,1.668711e+12,1.668713e+12,1.668712e+12,1.668713e+12,1.668711e+12,1.668710e+12,1.668712e+12,1.668709e+12,DoorDash,16.0,30.0,0.0,0.0
4,637675edbf952a5863009959,1.668709e+12,1.668711e+12,1.668712e+12,1.668713e+12,1.668712e+12,1.668711e+12,1.668712e+12,1.668709e+12,DoorDash,-22.0,-15.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14952,636fee9b6f99f539ea07841c,1.668281e+12,1.668283e+12,1.668282e+12,1.668284e+12,1.668282e+12,1.668281e+12,1.668283e+12,1.668280e+12,DoorDash,2.0,10.0,0.0,0.0
14953,63793a522a2c9e3b11413751,1.668893e+12,1.668894e+12,1.668894e+12,1.668896e+12,1.668893e+12,1.668892e+12,1.668896e+12,1.668890e+12,Point Pickup,2.0,-3.0,0.0,-1.0
14954,63767afde1cf14e4dfc18fa7,1.668710e+12,1.668711e+12,1.668713e+12,1.668714e+12,1.668712e+12,1.668711e+12,1.668714e+12,1.668710e+12,Uber,-32.0,-33.0,-1.0,-1.0
14955,638121e04cc88858d5811518,1.669409e+12,1.669410e+12,1.669411e+12,1.669412e+12,1.669411e+12,1.669410e+12,1.669412e+12,1.669409e+12,DoorDash,-20.0,-19.0,-1.0,-1.0
14956,63811fde2a2c9e3b114b8569,1.669409e+12,1.669411e+12,1.669411e+12,1.669413e+12,1.669411e+12,1.669410e+12,1.669412e+12,1.669408e+12,Uber,-13.0,-5.0,-1.0,-1.0

In [33]:
x.to_csv('usecase1.csv',index=False)

In [ ]:
df_new['difference_eta']=df_new['actual_pickup_completed']-df_new['ESTIMATED_PICKUP_TIME']
df_new['difference_etd']=df_new['actual_order_delivered']-df_new['ESTIMATED_DROPOFF_TIME']

In [19]:
import numpy as np

In [20]:
providers=np.unique(input_df['PROVIDER'])
for i in providers:
    
    test=input_df[input_df['PROVIDER']==i]
    
    print("")
    
    print(test.shape[0],"records present for the  ",i)

    test['on_time_eta']=(test['actual_pickup_completed'] >= test['ESTIMATED_PICKUP_TIME_START'] ) & (test['actual_pickup_completed'] <=
                                                                 test['ESTIMATED_PICKUP_TIME_END'] )
    test['on_time_etd']=(test['actual_order_delivered'] >= test['ESTIMATED_DROPOFF_TIME_START'] ) & (test['actual_order_delivered'] <=
                                                                 test['ESTIMATED_DROPOFF_TIME_END'] )
    test.replace(to_replace=True,
               value=1,inplace=True)
    test.replace(to_replace=False,
               value=0,inplace=True)
    print("")
    print(test['on_time_eta'].value_counts())
    print("")
    print(test['on_time_etd'].value_counts())
    print("")
    x=test[(test['on_time_eta']==1) & (test['on_time_etd']==1)]
    print(x.shape,"on time orders")
    """calculating the difference"""
    df_new=test
    df_new['difference_eta']=df_new['actual_pickup_completed']-df_new['ESTIMATED_PICKUP_TIME']
    df_new['difference_etd']=df_new['actual_order_delivered']-df_new['ESTIMATED_DROPOFF_TIME']
    print("")
    """convert into minutes from eta"""
    df_new['eta_minutes_dif']=df_new['difference_eta']//60000
    df_new['etd_minutes_dif']=df_new['difference_etd']//60000
    print("")
    #taking the deviation of with respect to actual order delivered 
    df_new['abs_eta']=abs(df_new['eta_minutes_dif'])
    df_new['abs_etd']=abs(df_new['etd_minutes_dif'])
    val_mean=np.mean(df_new['abs_eta'])
    val_mean_etd=np.mean(df_new['abs_etd'])
    print(val_mean, "it represents the overall mean deviation from  eta predicted ")
    print(" ")
    print(val_mean_etd, "it represents the overall mean deviation from  etd predicted ")
    
    print("")
    
    print(" on time & off time  check for ETA  ")
    
    print(" ")
    
    test_ontime_eta=test[test['on_time_eta']==1]
    
    print(" on time devaition ")
    
    print(" ")
    
    print(test_ontime_eta['abs_eta'].describe())
    
    print(" ")
    
    test_ondelay_eta=test[test['on_time_eta']==0]
    
    print(" off time devaition ")
    
    print(" ")
    
    print(test_ondelay_eta['abs_eta'].describe())
    
    print(" ")
    
    print(" positive & negative orders check for ETA ")
    
    print(" ")
    
    test_negative=test[test['eta_minutes_dif']<0] 
    
    test_positive=test[test['eta_minutes_dif']>0] 
    
    print("negative orders check")
    
    print(" ")
    
    print(test_negative['abs_eta'].describe())
    
    print(" ")
    
    print("positive orders check")
    
    print(" ")
    
    print(test_positive['abs_eta'].describe())
    
    print(" ")
    
    print("###########################################################")
    
    print("On time & off time  check for ETD ")
    
    print(" ")
    
    test_ontime_etd=test[test['on_time_etd']==1]
    
    print("On time devaition ")
    
    print(" ")
    
    print(test_ontime_etd['abs_etd'].describe())
    
    print(" ")
    
    test_ondelay_etd=test[test['on_time_etd']==0]
    
    print("off time devaition ")
    
    print(" ")
    
    print(test_ondelay_etd['abs_etd'].describe())
    
    print(" ")
    
    print("positive & negative orders check for ETD ")
    
    print(" ")
    
    test_negative=test[test['etd_minutes_dif']<0] 
    
    test_positive=test[test['etd_minutes_dif']>0] 
    
    print("negative orders check")
    
    print(" ")
    
    print(test_negative['abs_etd'].describe())
    
    print(" ")
    
    print("positive orders check")
    
    print(" ")
    
    print(test_positive['abs_etd'].describe())
    
    print(" ")
    
    print("#################################################################################")

    print(" ")

7982 records present for the   DoorDash

0    4093
1    3889
Name: on_time_eta, dtype: int64

0    5105
1    2877
Name: on_time_etd, dtype: int64

(2621, 17) on time orders


20.156477073415186 it represents the overall mean deviation from  eta predicted

19.880230518667002 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    3889.000000
mean        9.749550
std         5.613816
min         0.000000
25%         5.000000
50%        10.000000
75%        14.000000
max        27.000000
Name: abs_eta, dtype: float64

 off time devaition

count    4093.000000
mean       30.044710
std         9.222153
min         8.000000
25%        23.000000
50%        29.000000
75%        35.000000
max       142.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    6796.000000
mean       21.415833
std        11.654386
min         1.000000
25%        12.000000
50%        21.000000
75%        30.000000
max        63.000000
Name: abs_eta, dtype: float64

positive orders check

count    1098.000000
mean       13.977231
std        15.992205
min         1.000000
25%         4.000000
50%         9.000000
75%        18.000000
max       142.000000
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    2877.000000
mean        6.716719
std         4.087709
min         0.000000
25%         3.000000
50%         7.000000
75%        10.000000
max        17.000000
Name: abs_etd, dtype: float64

off time devaition

count    5105.000000
mean       27.298727
std        11.189689
min        12.000000
25%        19.000000
50%        26.000000
75%        33.000000
max       139.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    6258.000000
mean       21.150048
std        12.109722
min         1.000000
25%        11.000000
50%        20.000000
75%        30.000000
max        66.000000
Name: abs_etd, dtype: float64

positive orders check

count    1617.000000
mean       16.281385
std        17.157377
min         1.000000
25%         5.000000
50%        11.000000
75%        22.000000
max       139.000000
Name: abs_etd, dtype: float64

#################################################################################


209 records present for the   Instacart Connect

1    166
0     43
Name: on_time_eta, dtype: int64

0    126
1     83
Name: on_time_etd, dtype: int64

(81, 17) on time orders


22.516746411483254 it represents the overall mean deviation from  eta predicted

23.550239234449762 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    166.000000
mean      15.783133
std       10.825949
min        0.000000
25%        6.000000
50%       15.500000
75%       24.000000
max       40.000000
Name: abs_eta, dtype: float64

 off time devaition

count     43.000000
mean      48.511628
std       29.027386
min       13.000000
25%       27.500000
50%       42.000000
75%       61.500000
max      139.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    128.000000
mean      18.773438
std       11.166044
min        1.000000
25%        9.000000
50%       20.000000
75%       27.000000
max       51.000000
Name: abs_eta, dtype: float64

positive orders check

count     79.000000
mean      29.151899
std       29.783444
min        1.000000
25%        6.500000
50%       22.000000
75%       42.000000
max      139.000000
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    83.000000
mean      5.638554
std       3.322423
min       0.000000
25%       3.000000
50%       6.000000
75%       7.000000
max      13.000000
Name: abs_etd, dtype: float64

off time devaition

count    126.000000
mean      35.349206
std       24.813002
min       13.000000
25%       20.250000
50%       27.000000
75%       39.750000
max      147.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    116.000000
mean      18.818966
std       12.166668
min        1.000000
25%        7.750000
50%       19.000000
75%       24.250000
max       57.000000
Name: abs_etd, dtype: float64

positive orders check

count     89.000000
mean      30.775281
std       32.951670
min        1.000000
25%        6.000000
50%       18.000000
75%       44.000000
max      147.000000
Name: abs_etd, dtype: float64

#################################################################################


1 records present for the   MileZero

1    1
Name: on_time_eta, dtype: int64

0    1
Name: on_time_etd, dtype: int64

(0, 17) on time orders


23.0 it represents the overall mean deviation from  eta predicted

22.0 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count     1.0
mean     23.0
std       NaN
min      23.0
25%      23.0
50%      23.0
75%      23.0
max      23.0
Name: abs_eta, dtype: float64

 off time devaition

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count     1.0
mean     23.0
std       NaN
min      23.0
25%      23.0
50%      23.0
75%      23.0
max      23.0
Name: abs_eta, dtype: float64

positive orders check

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_etd, dtype: float64

off time devaition

count     1.0
mean     22.0
std       NaN
min      22.0
25%      22.0
50%      22.0
75%      22.0
max      22.0
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count     1.0
mean     22.0
std       NaN
min      22.0
25%      22.0
50%      22.0
75%      22.0
max      22.0
Name: abs_etd, dtype: float64

positive orders check

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_etd, dtype: float64

#################################################################################


10 records present for the   Onfleet

1    10
Name: on_time_eta, dtype: int64

0    9
1    1
Name: on_time_etd, dtype: int64

(1, 17) on time orders


13.2 it represents the overall mean deviation from  eta predicted

16.7 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    10.00000
mean     13.20000
std       2.65832
min       7.00000
25%      12.25000
50%      14.00000
75%      15.00000
max      16.00000
Name: abs_eta, dtype: float64

 off time devaition

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    10.00000
mean     13.20000
std       2.65832
min       7.00000
25%      12.25000
50%      14.00000
75%      15.00000
max      16.00000
Name: abs_eta, dtype: float64

positive orders check

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    1.0
mean     8.0
std      NaN
min      8.0
25%      8.0
50%      8.0
75%      8.0
max      8.0
Name: abs_etd, dtype: float64

off time devaition

count     9.000000
mean     17.666667
std       1.802776
min      14.000000
25%      17.000000
50%      18.000000
75%      19.000000
max      20.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    10.000000
mean     16.700000
std       3.497618
min       8.000000
25%      16.250000
50%      18.000000
75%      18.750000
max      20.000000
Name: abs_etd, dtype: float64

positive orders check

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_etd, dtype: float64

#################################################################################


8 records present for the   PickupNow

0    7
1    1
Name: on_time_eta, dtype: int64

0    8
Name: on_time_etd, dtype: int64

(0, 17) on time orders


32.125 it represents the overall mean deviation from  eta predicted

12.125 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count     1.0
mean     10.0
std       NaN
min      10.0
25%      10.0
50%      10.0
75%      10.0
max      10.0
Name: abs_eta, dtype: float64

 off time devaition

count     7.000000
mean     35.285714
std      12.957807
min      22.000000
25%      26.000000
50%      29.000000
75%      45.000000
max      54.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_eta, dtype: float64

positive orders check

count     8.000000
mean     32.125000
std      14.961259
min      10.000000
25%      23.500000
50%      28.500000
75%      42.000000
max      54.000000
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_etd, dtype: float64

off time devaition

count     8.000000
mean     12.125000
std      13.527089
min       0.000000
25%       2.500000
50%       7.500000
75%      16.750000
max      35.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    1.0
mean     9.0
std      NaN
min      9.0
25%      9.0
50%      9.0
75%      9.0
max      9.0
Name: abs_etd, dtype: float64

positive orders check

count     6.000000
mean     14.666667
std      14.733183
min       1.000000
25%       3.750000
50%       9.000000
75%      26.250000
max      35.000000
Name: abs_etd, dtype: float64

#################################################################################


294 records present for the   Point Pickup

1    170
0    124
Name: on_time_eta, dtype: int64

0    167
1    127
Name: on_time_etd, dtype: int64

(103, 17) on time orders


26.74829931972789 it represents the overall mean deviation from  eta predicted

28.768707482993197 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    170.000000
mean      13.923529
std        9.626764
min        0.000000
25%        6.000000
50%       12.500000
75%       21.000000
max       51.000000
Name: abs_eta, dtype: float64

 off time devaition

count    124.000000
mean      44.330645
std       24.438981
min       11.000000
25%       30.000000
50%       38.500000
75%       51.250000
max      140.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    127.000000
mean      19.488189
std       13.051708
min        2.000000
25%       10.000000
50%       17.000000
75%       27.000000
max       76.000000
Name: abs_eta, dtype: float64

positive orders check

count    164.000000
mean      32.859756
std       27.018487
min        1.000000
25%       14.000000
50%       29.000000
75%       45.000000
max      140.000000
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    127.000000
mean      10.874016
std        7.230877
min        0.000000
25%        4.500000
50%       10.000000
75%       15.000000
max       26.000000
Name: abs_etd, dtype: float64

off time devaition

count    167.000000
mean      42.377246
std       24.958910
min       15.000000
25%       27.000000
50%       36.000000
75%       50.000000
max      140.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    125.000000
mean      19.304000
std       13.945299
min        1.000000
25%       10.000000
50%       16.000000
75%       26.000000
max       81.000000
Name: abs_etd, dtype: float64

positive orders check

count    168.000000
mean      35.982143
std       28.611683
min        1.000000
25%       17.000000
50%       30.000000
75%       47.250000
max      140.000000
Name: abs_etd, dtype: float64

#################################################################################


6 records present for the   Postmates

0    6
Name: on_time_eta, dtype: int64

0    6
Name: on_time_etd, dtype: int64

(0, 17) on time orders


19.833333333333332 it represents the overall mean deviation from  eta predicted

22.166666666666668 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_eta, dtype: float64

 off time devaition

count     6.000000
mean     19.833333
std       7.194906
min      10.000000
25%      15.500000
50%      20.000000
75%      23.750000
max      30.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count     5.000000
mean     20.400000
std       7.893035
min      10.000000
25%      15.000000
50%      23.000000
75%      24.000000
max      30.000000
Name: abs_eta, dtype: float64

positive orders check

count     1.0
mean     17.0
std       NaN
min      17.0
25%      17.0
50%      17.0
75%      17.0
max      17.0
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: abs_etd, dtype: float64

off time devaition

count     6.000000
mean     22.166667
std       7.678976
min      11.000000
25%      18.250000
50%      21.500000
75%      28.500000
max      31.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count     5.000000
mean     20.400000
std       7.092249
min      11.000000
25%      18.000000
50%      19.000000
75%      24.000000
max      30.000000
Name: abs_etd, dtype: float64

positive orders check

count     1.0
mean     31.0
std       NaN
min      31.0
25%      31.0
50%      31.0
75%      31.0
max      31.0
Name: abs_etd, dtype: float64

#################################################################################


1716 records present for the   Roadie

1    1398
0     318
Name: on_time_eta, dtype: int64

0    885
1    831
Name: on_time_etd, dtype: int64

(812, 17) on time orders


27.53030303030303 it represents the overall mean deviation from  eta predicted

31.686480186480185 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    1398.000000
mean       19.731044
std        13.476799
min         0.000000
25%         9.000000
50%        18.000000
75%        29.000000
max        62.000000
Name: abs_eta, dtype: float64

 off time devaition

count    318.000000
mean      61.817610
std       22.893073
min       16.000000
25%       45.000000
50%       56.000000
75%       76.750000
max      140.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    938.000000
mean      22.279318
std       14.069989
min        1.000000
25%       11.000000
50%       21.000000
75%       32.000000
max       87.000000
Name: abs_eta, dtype: float64

positive orders check

count    750.000000
mean      35.125333
std       28.371704
min        1.000000
25%       13.000000
50%       27.000000
75%       53.000000
max      140.000000
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    831.000000
mean      11.780987
std        7.407107
min        0.000000
25%        5.500000
50%       11.000000
75%       17.000000
max       29.000000
Name: abs_etd, dtype: float64

off time devaition

count    885.000000
mean      50.377401
std       26.674380
min       18.000000
25%       31.000000
50%       42.000000
75%       63.000000
max      164.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    739.000000
mean      22.235453
std       15.040552
min        1.000000
25%       10.000000
50%       20.000000
75%       32.000000
max       87.000000
Name: abs_etd, dtype: float64

positive orders check

count    960.000000
mean      39.522917
std       32.355969
min        1.000000
25%       14.000000
50%       30.000000
75%       58.250000
max      164.000000
Name: abs_etd, dtype: float64

#################################################################################


59 records present for the   Shipt

0    31
1    28
Name: on_time_eta, dtype: int64

0    41
1    18
Name: on_time_etd, dtype: int64

(16, 17) on time orders


32.728813559322035 it represents the overall mean deviation from  eta predicted

32.644067796610166 it represents the overall mean deviation from  etd predicted

 on time & off time  check for ETA

 on time devaition

count    28.000000
mean     13.107143
std      11.189742
min       1.000000
25%       3.750000
50%      10.000000
75%      19.500000
max      37.000000
Name: abs_eta, dtype: float64

 off time devaition

count     31.000000
mean      50.451613
std       24.815101
min        8.000000
25%       38.000000
50%       49.000000
75%       64.000000
max      119.000000
Name: abs_eta, dtype: float64

 positive & negative orders check for ETA

negative orders check

count    14.000000
mean     17.357143
std      13.837558
min       1.000000
25%       3.750000
50%      18.500000
75%      31.000000
max      37.000000
Name: abs_eta, dtype: float64

positive orders check

count     45.000000
mean      37.511111
std       28.422640
min        1.000000
25%       11.000000
50%       39.000000
75%       53.000000
max      119.000000
Name: abs_eta, dtype: float64

###########################################################
On time & off time  check for ETD

On time devaition

count    18.000000
mean      6.055556
std       2.600277
min       2.000000
25%       4.000000
50%       5.500000
75%       8.000000
max      10.000000
Name: abs_etd, dtype: float64

off time devaition

count     41.000000
mean      44.317073
std       23.851037
min       14.000000
25%       28.000000
50%       37.000000
75%       56.000000
max      124.000000
Name: abs_etd, dtype: float64

positive & negative orders check for ETD

negative orders check

count    12.000000
mean     19.166667
std      12.655098
min       4.000000
25%       5.750000
50%      21.500000
75%      28.250000
max      37.000000
Name: abs_etd, dtype: float64

positive orders check

count     47.000000
mean      36.085106
std       28.239527
min        2.000000
25%       10.000000
50%       29.000000
75%       53.000000
max      124.000000
Name: abs_etd, dtype: float64

#################################################################################


6 records present for the   Shipt 2

1    3
0    3
Name: on_time_eta, dtype: int64

0    6
Name: on_time_etd, dtype: int64

(0, 17) on time orders


42.833333333333336 it represents the overall mean deviation from  eta predicted

47.166666666666664 it represents the overall mean deviation from  etd predicted


In [23]:
df_new

,order_id,actual_pickup_completed,actual_order_delivered,ORDER_DISPATCHED,PROVIDER_x,CONFIDENCE,ESTIMATED_DROPOFF_TIME,ESTIMATED_DROPOFF_TIME_END,ESTIMATED_DROPOFF_TIME_START,ESTIMATED_PICKUP_TIME,...,asap_filter_eta,asap_filter_etd,on_time_eta,on_time_etd,difference_eta,difference_etd,eta_minutes_dif,etd_minutes_dif,abs_eta,abs_etd
6,63715f28ecc885fdfcfbe29d,1.668378e+12,1.668379e+12,1.668374e+12,['Uber'],0.9,1.668378e+12,1.668379e+12,1.668377e+12,1.668377e+12,...,60.0,22.0,1,1,1.193792e+06,1.119169e+06,19.0,18.0,19.0,18.0
7,638107ca2a2c9e3b114b3812,1.669403e+12,1.669406e+12,1.669401e+12,['Uber'],0.9,1.669407e+12,1.669408e+12,1.669406e+12,1.669404e+12,...,41.0,56.0,1,1,-1.298549e+06,-3.691687e+05,-22.0,-7.0,22.0,7.0
10,638398a62a2c9e3b114f8b40,1.669571e+12,1.669573e+12,1.669569e+12,['Uber'],0.9,1.669573e+12,1.669574e+12,1.669572e+12,1.669571e+12,...,38.0,32.0,1,1,-2.532961e+05,4.255108e+05,-5.0,7.0,5.0,7.0
14,637697ce55aa41e2a5663d33,1.668719e+12,1.668724e+12,1.668716e+12,['Uber'],0.9,1.668721e+12,1.668722e+12,1.668720e+12,1.668719e+12,...,38.0,81.0,1,0,-2.865919e+05,2.627296e+06,-5.0,43.0,5.0,43.0
18,636c281655aa41e2a55b7e2d,1.668034e+12,1.668035e+12,1.668033e+12,['Uber'],0.9,1.668037e+12,1.668038e+12,1.668036e+12,1.668035e+12,...,16.0,25.0,0,0,-1.747482e+06,-1.456363e+06,-30.0,-25.0,30.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14949,6380fb2d88211a4af8640e37,1.669399e+12,1.669400e+12,1.669397e+12,['Uber'],0.9,1.669400e+12,1.669402e+12,1.669400e+12,1.669399e+12,...,32.0,16.0,1,1,-3.345115e+04,-1.096266e+05,-1.0,-2.0,1.0,2.0
14950,6380f694c11b8b0f864fe010,1.669399e+12,1.669400e+12,1.669396e+12,['Uber'],0.9,1.669398e+12,1.669399e+12,1.669397e+12,1.669397e+12,...,56.0,16.0,0,0,2.121621e+06,2.371083e+06,35.0,39.0,35.0,39.0
14951,6380f775465cf99083626d37,1.669398e+12,1.669399e+12,1.669396e+12,['Uber'],0.9,1.669401e+12,1.669402e+12,1.669400e+12,1.669399e+12,...,19.0,29.0,0,0,-1.374469e+06,-1.848959e+06,-23.0,-31.0,23.0,31.0
14954,63767afde1cf14e4dfc18fa7,1.668710e+12,1.668711e+12,1.668709e+12,['Uber'],0.9,1.668713e+12,1.668714e+12,1.668712e+12,1.668711e+12,...,8.0,21.0,0,0,-1.885249e+06,-1.969142e+06,-32.0,-33.0,32.0,33.0
14956,63811fde2a2c9e3b114b8569,1.669409e+12,1.669411e+12,1.669407e+12,['Uber'],0.9,1.669411e+12,1.669413e+12,1.669411e+12,1.669410e+12,...,37.0,37.0,1,1,-7.695687e+05,-2.558848e+05,-13.0,-5.0,13.0,5.0

In [ ]:
merge_df=merge_df[['']]

In [24]:
x=merge_df[merge_df['order_id']=="6377c4d8dbb96a47f28d64ab"]

In [26]:
x.iloc[0]

order_id                        6377c4d8dbb96a47f28d64ab
actual_pickup_completed                  1668796324330.0
actual_order_delivered                   1668798283909.0
ORDER_DISPATCHED                         1668793563716.0
PROVIDER_x                                  ['DoorDash']
CONFIDENCE                                           0.9
ESTIMATED_DROPOFF_TIME              1668798088767.302002
ESTIMATED_DROPOFF_TIME_END          1668799150884.516113
ESTIMATED_DROPOFF_TIME_START        1668797392837.913086
ESTIMATED_PICKUP_TIME               1668796177145.164062
ESTIMATED_PICKUP_TIME_END           1668797859877.695068
ESTIMATED_PICKUP_TIME_START           1668795105097.5271
PROVIDER                                        DoorDash
asap_filter_eta                                     46.0
asap_filter_etd                                     32.0
Name: 10118, dtype: object

In [32]:
(1668797859877.695068 - 1668795105097.5271) //60000

45.0

In [34]:
(1668799150884.516113 - 1668797392837.913086) // 60000

29.0

In [ ]:
providers=np.unique(input_df['PROVIDER'])
for i in providers:
    
    test=input_df[input_df['PROVIDER']==i]
    
    print("")
    
    print(test.shape[0],"records present for the  ",i)

    test['on_time_eta']=(test['actual_pickup_completed'] >= test['ESTIMATED_PICKUP_TIME_START'] ) & (test['actual_pickup_completed'] <=
                                                                 test['ESTIMATED_PICKUP_TIME_END'] )
    test['on_time_etd']=(test['actual_order_delivered'] >= test['ESTIMATED_DROPOFF_TIME_START'] ) & (test['actual_order_delivered'] <=
                                                                 test['ESTIMATED_DROPOFF_TIME_END'] )
    test.replace(to_replace=True,
               value=1,inplace=True)
    test.replace(to_replace=False,
               value=0,inplace=True)
    print("")
    print(test['on_time_eta'].value_counts())
    print("")
    print(test['on_time_etd'].value_counts())
    print("")
    x=test[(test['on_time_eta']==1) & (test['on_time_etd']==1)]
    print(x.shape,"on time orders")
    """calculating the difference"""
    df_new=test
    df_new['difference_eta']=df_new['actual_pickup_completed']-df_new['ESTIMATED_PICKUP_TIME']
    df_new['difference_etd']=df_new['actual_order_delivered']-df_new['ESTIMATED_DROPOFF_TIME']
    print("")
    """convert into minutes from eta"""
    df_new['eta_minutes_dif']=df_new['difference_eta']//60000
    df_new['etd_minutes_dif']=df_new['difference_etd']//60000
    print("")
    #taking the deviation of with respect to actual order delivered 
    df_new['abs_eta']=abs(df_new['eta_minutes_dif'])
    df_new['abs_etd']=abs(df_new['etd_minutes_dif'])
    val_mean=np.mean(df_new['abs_eta'])
    val_mean_etd=np.mean(df_new['abs_etd'])
    print(val_mean, "it represents the overall mean deviation from  eta predicted ")
    print(" ")
    print(val_mean_etd, "it represents the overall mean deviation from  etd predicted ")
    
    print("")
    
    print(" on time & off time  check for ETA  ")
    
    print(" ")
    
    test_ontime_eta=test[test['on_time_eta']==1]
    
    print(" on time devaition ")
    
    print(" ")
    
    print(test_ontime_eta['abs_eta'].describe())
    
    print(" ")
    
    test_ondelay_eta=test[test['on_time_eta']==0]
    
    print(" off time devaition ")
    
    print(" ")
    
    print(test_ondelay_eta['abs_eta'].describe())
    
    print(" ")
    
    print(" positive & negative orders check for ETA ")
    
    print(" ")
    
    test_negative=test[test['eta_minutes_dif']<0] 
    
    test_positive=test[test['eta_minutes_dif']>0] 
    
    print("negative orders check")
    
    print(" ")
    
    print(test_negative['abs_eta'].describe())
    
    print(" ")
    
    print("positive orders check")
    
    print(" ")
    
    print(test_positive['abs_eta'].describe())
    
    print(" ")
    
    print("###########################################################")
    
    print("On time & off time  check for ETD ")
    
    print(" ")
    
    test_ontime_etd=test[test['on_time_etd']==1]
    
    print("On time devaition ")
    
    print(" ")
    
    print(test_ontime_etd['abs_etd'].describe())
    
    print(" ")
    
    test_ondelay_etd=test[test['on_time_etd']==0]
    
    print("off time devaition ")
    
    print(" ")
    
    print(test_ondelay_etd['abs_etd'].describe())
    
    print(" ")
    
    print("positive & negative orders check for ETD ")
    
    print(" ")
    
    test_negative=test[test['etd_minutes_dif']<0] 
    
    test_positive=test[test['etd_minutes_dif']>0] 
    
    print("negative orders check")
    
    print(" ")
    
    print(test_negative['abs_etd'].describe())
    
    print(" ")
    
    print("positive orders check")
    
    print(" ")
    
    print(test_positive['abs_etd'].describe())
    
    print(" ")
    
    print("#################################################################################")

    print(" ")

In [159]:
df.iloc[1132]

_ID                        63617b4ce4a29672158b8e5d
actual_pickup_completed             1667337170000.0
actual_order_delivered              1667338345000.0
ORDER_DISPATCHED                    1667335329189.0
PROVIDER                          Instacart Connect
Name: 1132, dtype: object

In [160]:
df_op.iloc[1132]

CONFIDENCE                                      0.95
ESTIMATED_DROPOFF_TIME           1666551246148.97998
ESTIMATED_DROPOFF_TIME_END           1666562400000.0
ESTIMATED_DROPOFF_TIME_START         1666539834000.0
ESTIMATED_PICKUP_TIME           1666541611757.303955
ESTIMATED_PICKUP_TIME_END            1666539834000.0
ESTIMATED_PICKUP_TIME_START          1666540262002.0
PROVIDER                           Instacart Connect
Name: 1132, dtype: object

In [155]:
k=list(df['PROVIDER'])
l=list(df_op['PROVIDER'])

In [104]:
check_errors=[]
for i,j in zip(k,l):
    if i==j:
        check_errors.append(1)
    else:
        check_errors.append(0)

In [158]:
len(check_errors)

4995

In [ ]:
len(check_errors)

In [156]:
x=[i for i in range(len(check_errors)) if check_errors[i] == 0]

In [157]:
x

[1132,
 1139,
 1140,
 1151,
 1152,
 1155,
 1156,
 1157,
 1158,
 1204,
 1205,
 1211,
 1212,
 1284,
 1285,
 1293,
 1294,
 1320,
 1321,
 1337,
 1338,
 1381,
 1382,
 1384,
 1385,
 1386,
 1398,
 1399,
 1446,
 1447,
 1487,
 1488,
 1501,
 1502,
 1513,
 1514,
 1531,
 1532,
 1537,
 1538,
 1539,
 1559,
 1560,
 1573,
 1574,
 1583,
 1584,
 1590,
 1591,
 1599,
 1600,
 1609,
 1610,
 1670,
 1671,
 1684,
 1741,
 1743,
 1751,
 1753,
 1757,
 1759,
 1784,
 1786,
 1787,
 1789,
 1790,
 1794,
 1801,
 1803,
 1807,
 1809,
 1837,
 1839,
 1866,
 1868,
 1870,
 1872,
 1874,
 1875,
 1876,
 1877,
 1889,
 1891,
 1896,
 1897,
 1898,
 1899,
 1900,
 1902,
 1908,
 1910,
 1953,
 1955,
 1964,
 1966,
 1993,
 1995,
 1996,
 1998,
 2008,
 2010,
 2027,
 2033,
 2036,
 2070,
 2073,
 2083,
 2084,
 2086,
 2087,
 2089,
 2092,
 2097,
 2100,
 2103,
 2104,
 2107,
 2109,
 2112,
 2114,
 2117,
 2147,
 2150,
 2153,
 2161,
 2162,
 2164,
 2165,
 2171,
 2174,
 2219,
 2222,
 2238,
 2241,
 2264,
 2266,
 2267,
 2269,
 2315,
 2318,
 2321,
 2322,
 2325,
 2327,
 2330,
 2348,
 2350,
 2352,
 2389,
 2393,
 2430,
 2435,
 2440,
 2442,
 2447,
 2467,
 2472,
 2477,
 2503,
 2504,
 2508,
 2509,
 2566,
 2571,
 2576,
 2581,
 2583,
 2588,
 2593,
 2598,
 2603,
 2612,
 2617,
 2625,
 2630,
 2634,
 2635,
 2639,
 2640,
 2644,
 2649,
 2685,
 2686,
 2690,
 2691,
 2695,
 2697,
 2699,
 2702,
 2704,
 2739,
 2744,
 2745,
 2750,
 2752,
 2757,
 2761,
 2766,
 2770,
 2775,
 2803,
 2804,
 2808,
 2809,
 2836,
 2841,
 2868,
 2873,
 2904,
 2909,
 2910,
 2915,
 2925,
 2930,
 2934,
 2939,
 2956,
 2962,
 2966,
 2967,
 2990,
 2995,
 3002,
 3007,
 3018,
 3023,
 3051,
 3056,
 3063,
 3064,
 3065,
 3068,
 3069,
 3070,
 3105,
 3106,
 3110,
 3111,
 3115,
 3120,
 3180,
 3181,
 3185,
 3186,
 3208,
 3213,
 3214,
 3215,
 3219,
 3220,
 3224,
 3226,
 3229,
 3231,
 3238,
 3243,
 3250,
 3255,
 3261,
 3266,
 3267,
 3270,
 3272,
 3275,
 3279,
 3284,
 3328,
 3330,
 3333,
 3335,
 3341,
 3346,
 3360,
 3365,
 3388,
 3393,
 3400,
 3402,
 3405,
 3407,
 3423,
 3427,
 3428,
 3432,
 3434,
 3439,
 3442,
 3447,
 3459,
 3462,
 3464,
 3465,
 3467,
 3470,
 3477,
 3479,
 3482,
 3484,
 3493,
 3497,
 3498,
 3502,
 3508,
 3518,
 3527,
 3532,
 3553,
 3558,
 3564,
 3565,
 3569,
 3570,
 3584,
 3587,
 3589,
 3592,
 3659,
 3664,
 3686,
 3691,
 3693,
 3703,
 3726,
 3727,
 3729,
 3731,
 3732,
 3734,
 3748,
 3753,
 3771,
 3776,
 3790,
 3793,
 3795,
 3798,
 3806,
 3807,
 3810,
 3811,
 3812,
 3815,
 3845,
 3850,
 3874,
 3879,
 3883,
 3888,
 3889,
 3898,
 3899,
 3901,
 3903,
 3905,
 3906,
 3910,
 3945,
 3950,
 3954,
 3959,
 3962,
 3966,
 3967,
 3976,
 3994,
 3999,
 4010,
 4015,
 4033,
 4038,
 4040,
 4045,
 4098,
 4103,
 4123,
 4127,
 4128,
 4132,
 4138,
 4143,
 4187,
 4191,
 4192,
 4201,
 4203,
 4208,
 4213,
 4215,
 4216,
 4220,
 4221,
 4228,
 4232,
 4233,
 4234,
 4237,
 4239,
 4273,
 4277,
 4278,
 4282,
 4291,
 4292,
 4296,
 4302,
 4310,
 4315,
 4319,
 4324,
 4334,
 4339,
 4344,
 4349,
 4367,
 4372,
 4384,
 4389,
 4460,
 4461,
 4464,
 4465,
 4466,
 4469,
 4485,
 4490,
 4502,
 4507,
 4565,
 4570,
 4571,
 4573,
 4575,
 4576,
 4578,
 4580,
 4604,
 4609,
 4611,
 4616,
 4620,
 4625,
 4640,
 4645,
 4648,
 4653,
 4661,
 4662,
 4666,
 4667,
 4670,
 4673,
 4674,
 4675,
 4678,
 4679,
 4693,
 4698,
 4730,
 4733,
 4735,
 4738,
 4754,
 4758,
 4759,
 4763,
 4778,
 4783,
 4790,
 4795,
 4798,
 4802,
 4803,
 4807,
 4817,
 4819,
 4822,
 4824,
 4838,
 4843,
 4845,
 4850,
 4854,
 4859,
 4901,
 4906,
 4914,
 4916,
 4917,
 4919,
 4921,
 4922,
 4990]

In [ ]:
df.isnull().sum()

In [ ]:
if  'prediction_response' in resp:
    
    
        resp[0]['order_id']=body['_ID']
        return {"response":resp['prediction_response'],"valid":True}
        else:
            #return ast.literal_eval(resp)
            return  {"response":json.dumps(resp),"valid":False,"order_id":body['_ID']}

In [184]:
resp={
    "prediction_response": [
        {
            "CONFIDENCE": "0.95",
            "ESTIMATED_DROPOFF_TIME": "1665261779647.437",
            "ESTIMATED_DROPOFF_TIME_END": "1665273600000.0",
            "ESTIMATED_DROPOFF_TIME_START": "1665241278000.0",
            "ESTIMATED_PICKUP_TIME": "1665243007475.997",
            "ESTIMATED_PICKUP_TIME_END": "1665241278000.0",
            "ESTIMATED_PICKUP_TIME_START": "1665241800991.0",
            "PROVIDER": "Instacart Connect"
        }
    ]
}

In [189]:
body={"_ID": "63418e498468c61f9f8e2541", "DELIVERYADDRESS_CITY": "Atlanta", "PICKUPADDRESS_ZIPCODE": "30324", "PICKUPADDRESS_STATE": "GA", "PICKUPADDRESS_CITY": "Atlanta", "DELIVERYADDRESS_STATE": "GA", "DELIVERYADDRESS_ZIPCODE": "30309", "TENANTID": "michaels", "PROVIDER": ["Instacart Connect"], "DELIVERYADDRESS_COUNTRY": "US", "PICKUPADDRESS_COUNTRY": "US", "DELIVERYADDRESS_REPORTLATITUDE": "33.783839", "DELIVERYADDRESS_REPORTLONGITUDE": "-84.3838658", "PICKUPADDRESS_LATITUDE": "33.8274532", "PICKUPADDRESS_LONGITUDE": "-84.36579359999999", "DROPOFFWINDOW_STARTS": "1665241278000.0", "DROPOFFWINDOW_ENDS": "1665273600000.0", "PICKUPWINDOW_STARTS": "1665241800991.0", "PICKUPWINDOW_ENDS": "", "HASPERISHABLEITEMS": "", "HASREFRIGERATEDITEMS": "", "ISBEERORWINE": "", "ISFRAGILE": "", "ISTOBACCO": "", "STATUS": "ORDER_DELIVERED", "ORDER_DISPATCHED": "1665241752458.0", "actual_pickup_completed": 1665244826000.0, "actual_order_delivered": 1665246784000.0, "PICKUP_COMPLETED": "", "DRIVER_LAT": "", "DRIVER_LON": "", "len_pickup": 5, "len_delivery": 5}

In [221]:
def dunc(x):
    
    
    if 'prediction_response' in resp:
        print(resp)
        #.add('id', body['_ID']) 

        resp["prediction_response"][0]['order_id']=body['_ID']
        return {"response":resp['prediction_response'],"valid":True}
    else:
        #return ast.literal_eval(resp)
        return  {"response":json.dumps(resp),"valid":False} #"order_id":body['_ID']

In [225]:
def dunc(x):
    
    
    if 'prediction_response' in resp:
        print(resp)
        #.add('id', body['_ID']) 

        
        return {"response":resp['prediction_response'],"valid":True,'order_id':body['_ID']}
    else:
        #return ast.literal_eval(resp)
        return  {"response":json.dumps(resp),"valid":False} #"order_id":body['_ID']

In [226]:
dunc(resp)

{'prediction_response': [{'CONFIDENCE': '0.95', 'ESTIMATED_DROPOFF_TIME': '1665261779647.437', 'ESTIMATED_DROPOFF_TIME_END': '1665273600000.0', 'ESTIMATED_DROPOFF_TIME_START': '1665241278000.0', 'ESTIMATED_PICKUP_TIME': '1665243007475.997', 'ESTIMATED_PICKUP_TIME_END': '1665241278000.0', 'ESTIMATED_PICKUP_TIME_START': '1665241800991.0', 'PROVIDER': 'Instacart Connect', 'order_id': '63418e498468c61f9f8e2541'}]}

{'response': [{'CONFIDENCE': '0.95',
   'ESTIMATED_DROPOFF_TIME': '1665261779647.437',
   'ESTIMATED_DROPOFF_TIME_END': '1665273600000.0',
   'ESTIMATED_DROPOFF_TIME_START': '1665241278000.0',
   'ESTIMATED_PICKUP_TIME': '1665243007475.997',
   'ESTIMATED_PICKUP_TIME_END': '1665241278000.0',
   'ESTIMATED_PICKUP_TIME_START': '1665241800991.0',
   'PROVIDER': 'Instacart Connect',
   'order_id': '63418e498468c61f9f8e2541'}],
 'valid': True,
 'order_id': '63418e498468c61f9f8e2541'}

In [220]:
resp['prediction_response'][0]['CONFIDENCE']

'0.95'

In [ ]:
SELECT 
t1.*,t3.PICKUP_COMPLETED,t4.ORDER_DELIVERED
FROM
(select 
DISTINCT PRD_ORDER._ID as _ID,
PRD_ORDER.CREATEDAT,
PRD_ORDER.DELIVERYADDRESS_CITY,
PRD_ORDER.PICKUPADDRESS_ZIPCODE,
PRD_ORDER.PICKUPADDRESS_STATE,
PRD_ORDER.PICKUPADDRESS_CITY,
PRD_ORDER.DELIVERYADDRESS_STATE,
PRD_ORDER.DELIVERYADDRESS_ZIPCODE,
PRD_ORDER.TENANTID,
PRD_ORDER.PROVIDER,
PRD_ORDER.DELIVERYADDRESS_COUNTRY,
PRD_ORDER.PICKUPADDRESS_COUNTRY,
PRD_ORDER.DELIVERYADDRESS_REPORTLATITUDE,
PRD_ORDER.DELIVERYADDRESS_REPORTLONGITUDE,
PRD_ORDER.PICKUPADDRESS_LATITUDE,
PRD_ORDER.PICKUPADDRESS_LONGITUDE,
PRD_ORDER.HASPERISHABLEITEMS,
PRD_ORDER.HASREFRIGERATEDITEMS,
PRD_ORDER.ISBEERORWINE,
PRD_ORDER.ISFRAGILE,
PRD_ORDER.ISTOBACCO,
//PRD_ORDER.ESTIMATEDDELIVERYTIME,
PRD_ORDER.PICKUPTIMESTARTSAT,
PRD_ORDER.DROPOFFTIMESTARTSAT,
PRD_ORDER.DROPOFFTIMEENDSAT
 
from PRD_ORDER
where 
prd_order.createdat > '2022-10-1'
 and
prd_order.createdat < '2022-10-31' and
prd_order.type = 'delivery' and 
prd_order.status ='ORDER_DELIVERED' and 
prd_order.PICKUPTIMESTARTSAT is not null and
prd_order.DROPOFFTIMESTARTSAT is not null and
prd_order.DROPOFFTIMEENDSAT is not null and
ISDROPOFFASAP = FALSE and
ISPICKUPASAP = FALSE
)t1


left join
(select DISTINCT PRD_ORDER._ID as _ID,CONGNIDA_ORDER_STATUS.UPDATEDATEPOCH as PICKUP_COMPLETED
from CONGNIDA_ORDER_STATUS,PRD_ORDER 
where CONGNIDA_ORDER_STATUS.ORDERID = PRD_ORDER._ID and CONGNIDA_ORDER_STATUS.STATUS = 'PICKUP_COMPLETED'//ETA
//order by PRD_ORDER._ID,CONGNIDA_ORDER_STATUS.STATUS 
)t3
ON t1._ID = t3._ID

left join
(select DISTINCT PRD_ORDER._ID as _ID,CONGNIDA_ORDER_STATUS.UPDATEDATEPOCH as ORDER_DELIVERED
from CONGNIDA_ORDER_STATUS,PRD_ORDER 
where CONGNIDA_ORDER_STATUS.ORDERID = PRD_ORDER._ID and CONGNIDA_ORDER_STATUS.STATUS = 'ORDER_DELIVERED' //ETD
//order by PRD_ORDER._ID,CONGNIDA_ORDER_STATUS.STATUS 
)t4
ON t1._ID = t4._ID
where  
t3.PICKUP_COMPLETED IS NOT NULL
and t4.ORDER_DELIVERED IS NOT NULL;

In [11]:
df=pd.read_csv('final_final_v2_preprocessed_input_new_model_usecase5.1_v2.csv')

In [12]:
payload_df=df.sample(10)
k=payload_df.to_dict('records')

In [13]:
k

[{'_ID': '63446cb299c6c9c976942070',
  'DELIVERYADDRESS_CITY': 'Bellevue',
  'PICKUPADDRESS_ZIPCODE': 98005,
  'PICKUPADDRESS_STATE': 'WA',
  'PICKUPADDRESS_CITY': 'Bellevue',
  'DELIVERYADDRESS_STATE': 'WA',
  'DELIVERYADDRESS_ZIPCODE': 98006,
  'TENANTID': 'TotalWine',
  'PROVIDER': "['Onfleet']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 47.53738560000001,
  'DELIVERYADDRESS_REPORTLONGITUDE': -122.1134097,
  'PICKUPADDRESS_LATITUDE': 47.6160116,
  'PICKUPADDRESS_LONGITUDE': -122.1825924,
  'DROPOFFWINDOW_STARTS': 1665439200000.0,
  'DROPOFFWINDOW_ENDS': 1665446400000.0,
  'PICKUPWINDOW_STARTS': 1665439200000.0,
  'PICKUPWINDOW_ENDS': nan,
  'HASPERISHABLEITEMS': False,
  'HASREFRIGERATEDITEMS': False,
  'ISBEERORWINE': False,
  'ISFRAGILE': False,
  'ISTOBACCO': False,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1665428664571.0,
  'actual_pickup_completed': 1665440719386.0,
  'actual_order_delivered': 1665442313869.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '63407744da581e2454f15689',
  'DELIVERYADDRESS_CITY': 'Covington',
  'PICKUPADDRESS_ZIPCODE': 70471,
  'PICKUPADDRESS_STATE': 'LA',
  'PICKUPADDRESS_CITY': 'Mandeville',
  'DELIVERYADDRESS_STATE': 'LA',
  'DELIVERYADDRESS_ZIPCODE': 70433,
  'TENANTID': 'TotalWine',
  'PROVIDER': "['Onfleet']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 30.4563402,
  'DELIVERYADDRESS_REPORTLONGITUDE': -90.1453667,
  'PICKUPADDRESS_LATITUDE': 30.386256,
  'PICKUPADDRESS_LONGITUDE': -90.0902763,
  'DROPOFFWINDOW_STARTS': 1665180000000.0,
  'DROPOFFWINDOW_ENDS': 1665187200000.0,
  'PICKUPWINDOW_STARTS': 1665180000000.0,
  'PICKUPWINDOW_ENDS': nan,
  'HASPERISHABLEITEMS': False,
  'HASREFRIGERATEDITEMS': False,
  'ISBEERORWINE': True,
  'ISFRAGILE': False,
  'ISTOBACCO': False,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1665169221624.0,
  'actual_pickup_completed': 1665182415344.0,
  'actual_order_delivered': 1665183477641.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '633ef5c2fa9f2f67f4879294',
  'DELIVERYADDRESS_CITY': 'Edmond',
  'PICKUPADDRESS_ZIPCODE': 73120,
  'PICKUPADDRESS_STATE': 'OK',
  'PICKUPADDRESS_CITY': 'Oklahoma City',
  'DELIVERYADDRESS_STATE': 'OK',
  'DELIVERYADDRESS_ZIPCODE': 73012,
  'TENANTID': 'SBH__Sally',
  'PROVIDER': "['DoorDash']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 35.6399022,
  'DELIVERYADDRESS_REPORTLONGITUDE': -97.5207053,
  'PICKUPADDRESS_LATITUDE': 35.59636460000001,
  'PICKUPADDRESS_LONGITUDE': -97.5659323,
  'DROPOFFWINDOW_STARTS': 1665071760000.0,
  'DROPOFFWINDOW_ENDS': 1665098400000.0,
  'PICKUPWINDOW_STARTS': 1665070560000.0,
  'PICKUPWINDOW_ENDS': 1665097200000.0,
  'HASPERISHABLEITEMS': nan,
  'HASREFRIGERATEDITEMS': nan,
  'ISBEERORWINE': nan,
  'ISFRAGILE': nan,
  'ISTOBACCO': nan,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1665070531787.0,
  'actual_pickup_completed': 1665070809726.0,
  'actual_order_delivered': 1665071556682.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '633b3d3da13f5bc0f19e0db7',
  'DELIVERYADDRESS_CITY': 'West Palm Beach',
  'PICKUPADDRESS_ZIPCODE': 33410,
  'PICKUPADDRESS_STATE': 'FL',
  'PICKUPADDRESS_CITY': 'Palm Beach Gardens',
  'DELIVERYADDRESS_STATE': 'FL',
  'DELIVERYADDRESS_ZIPCODE': 33407,
  'TENANTID': 'TotalWine',
  'PROVIDER': "['Onfleet']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 26.7577183,
  'DELIVERYADDRESS_REPORTLONGITUDE': -80.05196900000001,
  'PICKUPADDRESS_LATITUDE': 26.8404194,
  'PICKUPADDRESS_LONGITUDE': -80.09321729999999,
  'DROPOFFWINDOW_STARTS': 1664838000000.0,
  'DROPOFFWINDOW_ENDS': 1664845200000.0,
  'PICKUPWINDOW_STARTS': 1664838000000.0,
  'PICKUPWINDOW_ENDS': nan,
  'HASPERISHABLEITEMS': False,
  'HASREFRIGERATEDITEMS': False,
  'ISBEERORWINE': False,
  'ISFRAGILE': False,
  'ISTOBACCO': False,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1664826687159.0,
  'actual_pickup_completed': 1664843033580.0,
  'actual_order_delivered': 1664843875214.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '633c9b0ef66a941997c7d8ee',
  'DELIVERYADDRESS_CITY': 'Richmond',
  'PICKUPADDRESS_ZIPCODE': 77056,
  'PICKUPADDRESS_STATE': 'TX',
  'PICKUPADDRESS_CITY': 'Houston',
  'DELIVERYADDRESS_STATE': 'TX',
  'DELIVERYADDRESS_ZIPCODE': 77407,
  'TENANTID': 'sephora_us',
  'PROVIDER': "['Uber']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 29.6746079,
  'DELIVERYADDRESS_REPORTLONGITUDE': -95.6922928,
  'PICKUPADDRESS_LATITUDE': 29.7390442,
  'PICKUPADDRESS_LONGITUDE': -95.4637335,
  'DROPOFFWINDOW_STARTS': 1664916237787.0,
  'DROPOFFWINDOW_ENDS': 1664935200000.0,
  'PICKUPWINDOW_STARTS': 1664916237783.0,
  'PICKUPWINDOW_ENDS': 1664931600000.0,
  'HASPERISHABLEITEMS': nan,
  'HASREFRIGERATEDITEMS': nan,
  'ISBEERORWINE': nan,
  'ISFRAGILE': nan,
  'ISTOBACCO': nan,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1664916242357.0,
  'actual_pickup_completed': 1664919832492.0,
  'actual_order_delivered': 1664923985874.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '633847a3182ffc935c3b8bf8',
  'DELIVERYADDRESS_CITY': 'Monte Sereno',
  'PICKUPADDRESS_ZIPCODE': 95118,
  'PICKUPADDRESS_STATE': 'CA',
  'PICKUPADDRESS_CITY': 'San Jose',
  'DELIVERYADDRESS_STATE': 'CA',
  'DELIVERYADDRESS_ZIPCODE': 95030,
  'TENANTID': 'TotalWine',
  'PROVIDER': "['DoorDash']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 37.2426515,
  'DELIVERYADDRESS_REPORTLONGITUDE': -121.9816353,
  'PICKUPADDRESS_LATITUDE': 37.2575104,
  'PICKUPADDRESS_LONGITUDE': -121.874317,
  'DROPOFFWINDOW_STARTS': 1664643600000.0,
  'DROPOFFWINDOW_ENDS': 1664647200000.0,
  'PICKUPWINDOW_STARTS': 1664643600000.0,
  'PICKUPWINDOW_ENDS': nan,
  'HASPERISHABLEITEMS': False,
  'HASREFRIGERATEDITEMS': False,
  'ISBEERORWINE': True,
  'ISFRAGILE': False,
  'ISTOBACCO': False,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1664632741240.0,
  'actual_pickup_completed': 1664643459866.0,
  'actual_order_delivered': 1664644580412.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '6341be2adb6a00511a411f4f',
  'DELIVERYADDRESS_CITY': 'Destrehan',
  'PICKUPADDRESS_ZIPCODE': 70123,
  'PICKUPADDRESS_STATE': 'LA',
  'PICKUPADDRESS_CITY': 'New Orleans',
  'DELIVERYADDRESS_STATE': 'LA',
  'DELIVERYADDRESS_ZIPCODE': 70047,
  'TENANTID': 'gamestop',
  'PROVIDER': "['DoorDash']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 29.9552757,
  'DELIVERYADDRESS_REPORTLONGITUDE': -90.3822477,
  'PICKUPADDRESS_LATITUDE': 29.949371,
  'PICKUPADDRESS_LONGITUDE': -90.1812053,
  'DROPOFFWINDOW_STARTS': 1665270000000.0,
  'DROPOFFWINDOW_ENDS': 1665277200000.0,
  'PICKUPWINDOW_STARTS': 1665270000000.0,
  'PICKUPWINDOW_ENDS': nan,
  'HASPERISHABLEITEMS': False,
  'HASREFRIGERATEDITEMS': False,
  'ISBEERORWINE': False,
  'ISFRAGILE': False,
  'ISTOBACCO': False,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1665252908774.0,
  'actual_pickup_completed': 1665269864988.0,
  'actual_order_delivered': 1665271759250.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '6340499f057aeb6f3fc8da46',
  'DELIVERYADDRESS_CITY': 'Charlotte',
  'PICKUPADDRESS_ZIPCODE': 28209,
  'PICKUPADDRESS_STATE': 'NC',
  'PICKUPADDRESS_CITY': 'Charlotte',
  'DELIVERYADDRESS_STATE': 'NC',
  'DELIVERYADDRESS_ZIPCODE': 28210,
  'TENANTID': 'TotalWine',
  'PROVIDER': "['Instacart']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 35.14185080000001,
  'DELIVERYADDRESS_REPORTLONGITUDE': -80.84415779999999,
  'PICKUPADDRESS_LATITUDE': 35.171873,
  'PICKUPADDRESS_LONGITUDE': -80.849032,
  'DROPOFFWINDOW_STARTS': 1665176400000.0,
  'DROPOFFWINDOW_ENDS': 1665180000000.0,
  'PICKUPWINDOW_STARTS': 1665176400000.0,
  'PICKUPWINDOW_ENDS': nan,
  'HASPERISHABLEITEMS': False,
  'HASREFRIGERATEDITEMS': False,
  'ISBEERORWINE': True,
  'ISFRAGILE': False,
  'ISTOBACCO': False,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1665157543842.0,
  'actual_pickup_completed': 1665177538000.0,
  'actual_order_delivered': 1665181672000.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '6339c045d7a73ec251c0bd12',
  'DELIVERYADDRESS_CITY': 'Johnstown',
  'PICKUPADDRESS_ZIPCODE': 80525,
  'PICKUPADDRESS_STATE': 'CO',
  'PICKUPADDRESS_CITY': 'Ft. Collins',
  'DELIVERYADDRESS_STATE': 'CO',
  'DELIVERYADDRESS_ZIPCODE': 80534,
  'TENANTID': 'sephora_us',
  'PROVIDER': "['DoorDash']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 40.2979734,
  'DELIVERYADDRESS_REPORTLONGITUDE': -104.9114639,
  'PICKUPADDRESS_LATITUDE': 40.5257205,
  'PICKUPADDRESS_LONGITUDE': -105.026551,
  'DROPOFFWINDOW_STARTS': 1664733600000.0,
  'DROPOFFWINDOW_ENDS': 1664762400000.0,
  'PICKUPWINDOW_STARTS': 1664733600000.0,
  'PICKUPWINDOW_ENDS': 1664758800000.0,
  'HASPERISHABLEITEMS': nan,
  'HASREFRIGERATEDITEMS': nan,
  'ISBEERORWINE': nan,
  'ISFRAGILE': nan,
  'ISTOBACCO': nan,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1664729158835.0,
  'actual_pickup_completed': 1664734240900.0,
  'actual_order_delivered': 1664738161732.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5},
 {'_ID': '633a052497a95913b4871434',
  'DELIVERYADDRESS_CITY': 'Los Angeles',
  'PICKUPADDRESS_ZIPCODE': 90266,
  'PICKUPADDRESS_STATE': 'CA',
  'PICKUPADDRESS_CITY': 'Manhattan Beach',
  'DELIVERYADDRESS_STATE': 'CA',
  'DELIVERYADDRESS_ZIPCODE': 90026,
  'TENANTID': 'sephora_us',
  'PROVIDER': "['DoorDash']",
  'DELIVERYADDRESS_COUNTRY': 'US',
  'PICKUPADDRESS_COUNTRY': 'US',
  'DELIVERYADDRESS_REPORTLATITUDE': 34.0860432,
  'DELIVERYADDRESS_REPORTLONGITUDE': -118.2818129,
  'PICKUPADDRESS_LATITUDE': 33.8995437,
  'PICKUPADDRESS_LONGITUDE': -118.394016,
  'DROPOFFWINDOW_STARTS': 1664746787712.0,
  'DROPOFFWINDOW_ENDS': 1664762400000.0,
  'PICKUPWINDOW_STARTS': 1664746787708.0,
  'PICKUPWINDOW_ENDS': 1664758800000.0,
  'HASPERISHABLEITEMS': nan,
  'HASREFRIGERATEDITEMS': nan,
  'ISBEERORWINE': nan,
  'ISFRAGILE': nan,
  'ISTOBACCO': nan,
  'STATUS': 'ORDER_DELIVERED',
  'ORDER_DISPATCHED': 1664746793242.0,
  'actual_pickup_completed': 1664747708066.0,
  'actual_order_delivered': 1664750399564.0,
  'PICKUP_COMPLETED': nan,
  'DRIVER_LAT': nan,
  'DRIVER_LON': nan,
  'len_pickup': 5,
  'len_delivery': 5}]